*{}body h1{background-color:#97BA79;
	text-align: center;
padding: 20px,0;
border-bottom:3px solid black;
	
}

*{ margin: 0;
	padding: 0;
	background-color: white;
	text-align: center;
	border-bottom:1px solid black;
} 
.sidebar {background-color: #C9FB1C;
	width: 20%;
	border:1px solid black;
	text-align:center;
	float: left;
	height: 300px;

	}

.main{background-color: #e2efda;
	width: 62%;
	border: 1px solid black;
	text-align: center;
	float: right;
	height: 300px;

}	
div{
   background-color: #ffffff;
Padding:15px;
Border:1px solid #000
}